@charset "UTF-8";
/*-----base-----*/
h1 + p{
	margin: 25px;
}
body,
figure,
h1,
ul,
dl,
dd,
h2,
h3,
h4,
p {
	margin: 0px;
}
ul{
	padding: 0px;
}
body{
	color: #68CFC3;
	font-family: メイリオ, Meryo;
	background-color: #FFFFFF;
}
h1{
	font-size: 30px;
	color:##68CFC3;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
}
h2{
	font-size:40px;
	color: #68CFC3;
	font-family: 'Libre Baskerville', serif;
}
h3, h4{
	font-size: 30px;
	color: #68CFC3;
	font-family: 'Libre Baskerville', serif;
}

/*---header---*/
.header{
	min-width: 1250px;
	background-color: #C0D860;
	font-family: 'Josefin Sans', sans-serif;
	margin-top:20px;
}
.header p {
	color: #FFFFFF;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
}
/*---footer---*/
.footer{
	min-width: 1250px;
	background-color: #C0D860;
	font-family: 'Josefin Sans', sans-serif;
}
.footer p {
	color: #FFFFFF;
	font-size: 20px;
	font-weight:bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}
/*---global-navigation---*/
.global-navigation {
	width: 1250px;
    height: 30px;
    margin:auto;
    margin-top:20px;
}

.global-navigation li {
    display: inline;
    width: 20%;
    float:left;
}
.global-navigation a {
 	color: #ffffff;
    display: block;
    line-height: 1.0;
    padding: 6px 0;
    font-weight: bold;
    font-size: 15px;
    border-radius:20px;
    text-align: center;
    text-decoration: none;
}
/*.global-navigation a:hover{
	color: clear;
	background: clear;
}*/
#homeButton{
	background-color:#D45D87;
}
#homeButton:hover{
	color:#D45D87;
	background-color:#FFFFFF;
}
#profile{
	margin-left:10px;
	background-color:#E6855E;
}
#profile:hover{
	background-color: #FFFFFF;
	color:#E6855E;
}
#messages{
	margin-left:10px;;
}
#messageButton{
	background-color:#CAE7F2;
}
#messageButton:hover{
	background-color: #FFFFFF;
	color:#F9DB57;
}
#search{
	width: 350px;
	margin-left:30px;
}
.searchForm{
	display:inline-block;
	margin-left:10px;
}
.searchButton{
	color:#FFFFFF;
	background-color: #6A8CC7;
	width: 80px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
}
.searchButton:hover{
	color:#6A8CC7;
	background-color:#FFFFFF;
	width: 80px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
}
.searchBox{
	border: 2px solid #6A8CC7;
}
#logout{
	width:100px;
}
.logoutButton{
	color:#FFFFFF;
	background-color: #E4EC5B;
    background-positon: 50% 50%;
	width: 80px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
}
.logoutButton:hover{
	color: #E4EC5B;
	background-color: #FFFFFF;
	width: 80px;
	height:20px;
	font-weight:bold;
	border-style:none;
}

/*---top page---*/
.top-main{
	height:auto;
	clear:left;
	width:1250px;
	margin:auto;
}
#loginButton{
	margin-left:80%;
}
.intro{
	margin-left:489px;
	margin-top:10px;
}
.loginForm{
	margin-top:20px;
}
.top-main h4{
	font-size:20px;
}
.loginId{
	margin-top:10px;
}
.loginPass{
	margin-top:10px;
}
.login{
	width:400px;
	height:220px;
	margin-left:409px;
	padding:15px;
	border: 1px solid #68CFC3;
}
.loginError{
	margin-left:5px;
	margin-top:5px;
}
.loginError li{
	list-style:none;
}
.signup{
	width:300px;
	height:100px;
	border: 1px solid #68CFC3;
	margin-left:409px;
	margin-top:15px;
	padding:15px;
}

.loginButton{
	color:#FFFFFF;
	background-color:#68CFC3;
	width:70px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
	margin-top:20px;
}
.signupButton{
	color:#FFFFFF;
	background-color: #68CFC3;
	width: 80px;
	height:20px;
	font-weight:bold;
	border-style:none;
	border-radius: 20px;
	margin-top:20px;
}

/*---signup page ---*/
.signup-main{
	clear:left;
	width:1250px;
	margin:auto;
}
.signup-box{
	width:560px;
	margin-left:344px;
	margin-top:20px;
	border:1px solid #68CFC3;
}
.signupForm{
	padding-left: 50px;
}
.signup-box li{
	list-style:none;
	margin-left: 5px;
}
.signup-box h2{
	margin-left:76px;
	margin-top:15px;
}
.signup-box h4{
	margin-top: 20px;
}
#topComment{

}
.register{
	color:#FFFFFF;
	background-color: #68CFC3;
	width: 80px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
	margin-top:20px;
	margin-bottom:20px;
}
.email{
	margin-top:10px;
}
.email,.name,.username,.password,.register,.profile{
	margin-left:30px;
}
#signupToLogin{
	color:#FFFFFF;
	background-color:#E4EC5B;
	width:70px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
}
#warning{
	color:red;
	font-size: 11px;
}
/*---profile page ---*/
.profile-main{
	clear:left;
	width:1250px;
	margin:auto;
}
.profile-main-top{
	color:#C0D860;
	margin-top:20px;
	}
.profile-top{
	width:540px;
	margin-left:344px;
	border:1px solid #C8EFEA;
	padding:10px;
	text-align:center;
}
.currentStatus{
	border-top:1px dotted #C8EFEA;
	padding-top:5px;
}
.profile-main-top h1{
	color:#68CFC3;
	font-size:36px;
	}
.profile-main-top h2{
	color:#C0D860;
	font-size:30px;
	}
.profile-box{
	width:560px;
	margin-left:344px;
	margin-top:20px;
	border:1px solid #C8EFEA;
}
.profileForm{
	padding-left: 50px;
}
.profile-box li{
	list-style:none;
	margin-left: 5px;
}
.profile-box h3{
	font-size:36px;
	text-align:center;
	margin-top:20px;
}
.profile-box h4{
	margin-top: 10px;
}
#comment{
	font-size: 17px;
	display: inline-block;
	text-align: center;
	margin-left: 127px;
	margin-top: 5px;
	border-bottom:1px dotted #C8EFEA;
}
.register{
	color:#FFFFFF;
	background-color: #68CFC3;
	width: 110px;
	height:20px;
	font-weight:bold;
	border-radius: 20px;
	border-style:none;
	margin-top:20px;
	margin-bottom:20px;
}
.email{
	margin-top:10px;
}
.email,.name,.username,.password,.register,.profile{
	margin-left:30px;
}
/*---main page---*/
.main{
	clear:left;
	width:1250px;
	margin:auto;
}
.member-main{
	clear:left;
	width: 1250px;
	margin:auto;
	margin-top:20px;
}


/*---main-top---*/
.main-top{
	height:auto;
	margin-top:20px;
}
.member-top{
	height:auto;
	margin-left:146px;
}
.fixBlock{
	height:0px;
	clear:both;
}
#status{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.main-top-profile{
	width: 750px;
	height:autopx;
	padding:17px;
	border:2px solid #3EBA2B;
	float:left;
}
.main-top-profile h2{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.member-top-profile h2{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.member-top-profile{
	width: 750px;
	height:autopx;
	padding:17px;
	border:2px solid #3EBA2B;
	float:left;
}
.myProfile{
	border-top: 1px solid #68CFC3;
	margin-top:5px;
	padding-top:5px;
}
.memberFollowStatus{
	margin-left: 10px;
	font-size:17px;
}
.contactLink{
	margin-left: 10px;
	font-size:17px;
}

.recruitStatus{
	margin-left:10px;
	margin-top:5px;
	font-size:15px;
}

.main-top-eyecatch{
	width:143px;
	margin-left: 815px;
}
.main-top-eyecatch img{
	width:138px;
	height:185px;
	border:1px solid #68CFC3;
}
.member-top-eyecatch{
	width:162px;
	margin-left: 804px;
}
.member-top-eyecatch img{
	width:162px;
	height:216px;
	border:1px solid #68CFC3;
}
.followCheck{
	width:150px;
	height:30px;
	color:#FFFFFF;
	font-weight:bold;
	background-color: #68CFC3;
	margin-top:10px;
	border-style:none;
}
.relationship{
 	border: 2px solid #3EBA2B;
}
.followOrUnfollow{
	font-size:20px;
}
.followOrUnfollow h2{
	margin-bottom:8px;
}
.followLink{
	margin-left:8px;
	font-size:18px;
}
.followStatus{
	margin-left:8px;
}

/*---main-bottom---*/
.main-bottom{
	width:967px;
	height:auto;
	margin-top:20px;
	border:2px solid #3EBA2B;
	float:left;
}
.member-bottom{
	width:967px;
	height:auto;
	margin-top:20px;
	margin-left:146px;
	border:2px solid #3EBA2B;
}
.main-bottom li{
	list-style:none;
}
.main-bottom h4{
	margin:23px
}

.main-bottom h3{
	margin:10px;
}

.member-bottom h3{
	margin:10px;
}

.main-bottom-tweetBox{
	height:53px;
	margin-left:23px;
}
.main-bottom-tweetForm{
	padding-bottom:10px;
}
.tweetBox{
	width:500px;
	height:30px;
	border:2px solid #3EBA2B;
	resize:none;
}
#name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#tweetInf{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size:15px;
	font-weight:bold;
}
#tweetList{
	height:auto;
	list-style:none;
}
#tweet{
white-space:pre;
whitespace:pre-line;
whitespace:-pre-wrap;
whitespace:-moz-pre-wrap;
whitespace:hp-pre-wrap;
whitespace:-o-pre-wrap;
whitespace:pre-wrap;
word-wrap:break-word;
width:900px;
}
.tweetButton{
	border-style:none;
	width: 100px;
	height:30px;
	font-weight:bold;
	margin-left:25px;
	margin-top:20px;
	color: #FFFFFF;
	background-color:#68CFC3;
}
.main-bottom-timeline{
	width:auto;
	height:auto;
	margin-top:15px;
}
.main-bottom dl{
	padding:10px;
	border-top:1px solid #68CFC3;
}
.member-bottom dl{
	padding:10px;
	border-top:1px solid #68CFC3;
}
#icon{
	float:left;
	width:50px;
	height:65px;
	border-style:none;
	margin-right:2px;
}
#icon img{
	width:50px;
	height:65px;
}

/*---main-right---*/
.main-right{
	margin-left:1035px;
	width:165px;
	height:auto;
	position:absolute;
	left:auto;
	top: 119px;
	padding: 23px;
	border:2px solid #3EBA2B;
}
#followComment{
	font-size: 13px;
}
@media screen and (max-width:1250px){
	.main-right{
		position:absolute;
		}
}
.main-right h3{
	margin-bottom:10px;
}
.main-right h4{
	margin-bottom:10px;
	margin-top:10px;
	font-size:22px;
}
.suggestFollow{
	border-style:none;
	width: 80px;
	height:20px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:8px;
	color: #FFFFFF;
	background-color:#68CFC3;
}
/* myMessage Page */
.myMessages{
	height:auto;
	clear:left;
	width:1250px;
	margin:auto;
}
.myMessage-main{
	height:auto;
	width:1000px;
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 10px;
	border:2px solid #3EBA2B;
	margin-left:100px;
}
.myMessages h3{
	margin-top:20px;
	margin-bottom :10px;
	text-align:center;
}
.myMessage-main dl{
	margin-top:5px;
	padding:10px;
	border:1px solid #68CFC3;
}
.myMessage-main dt{
	border-bottom:1px dotted #68CFC3;
}
#messageComment{
	font-size: 13px;
	margin-top:10px;
	margin-left:400px;
}
/*---message Page ---*/
.message-main{
	clear:left;
	width: 1250px;
	margin:auto;
}
message-main h3,h4{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.messageForm{
	margin-left: 70px;
}
.editMessage{
	margin-top:20px;
	padding: 20px;
	border:2px solid #3EBA2B;
}
.messageBox{
	margin-top:8px;
	margin-left:170px;
	resize:none;
}
.sendButton{
	color:#FFFFFF;
	background-color:#68CFC3;
	border-style:none;
	border-radius:20px;
	font-weight:bold;
	width:50px;
	height:25px;
	margin-left:1000px;
}
.messageError li{
	list-style:none;
	margin-left:10px;
}
.messages{
	margin-top:10px;
	padding: 20px;
	border:2px solid #3EBA2B;
}
#info{
	font-weight:bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#message{
white-space:pre;
whitespace:pre-line;
whitespace:-pre-wrap;
whitespace:-moz-pre-wrap;
whitespace:hp-pre-wrap;
whitespace:-o-pre-wrap;
whitespace:pre-wrap;
word-wrap:break-word;
width:400px;
}
.messageList{
	margin-top:10px;
	padding: 20px;
	border:2px solid #3EBA2B;
}
.receive{
	display:inline-block;
	width:450px;
	padding: 20px;
	border:2px solid #3EBA2B;
	float:left;
	margin-left:49px;
	margin-top: 20px;
}
.sent{
	display:inline-block;
	width:450px;
	margin-top:10px;
	padding: 20px;
	border:2px solid #3EBA2B;
	float:left;
	margin-left:50px;
	margin-top: 20px;
}
.message-main dl{
	margin-top:5px;
	padding:10px;
	border:1px solid #68CFC3;
}
.message-main dt{
	border-bottom:1px dotted #68CFC3;
}
.message-main  h3{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.message-main  h4{
	border-bottom: 1px solid #68CFC3;
	margin-bottom:5px;
}
/*---searchResult page---*/
.searchResultPage{
	clear:left;
	width: 1250px;
	margin:auto;
}
.searchResultBox{
	margin-left: 140px;
}
.userList{
	width: 947px;
	height: auto;
	border: 2px solid #3EBA2B;
	padding:10px;
}
.userList dl{
	margin-left:5px;
}
.userList h3{
	margin-bottom:4px;
 	fontSize:20px;
 	border-bottom:1px solid #3EBA2B;
}
 .errorMessage{
 	margin-bottom: 10px;
 	margin-left: 10px;
}

/*---FollowList page---*/
.follow-main{
	clear:left;
	width:1250px;
	height:auto;
	margin:auto;
}
.follow-main h3{
	text-align:center;
	padding:5px;
	margin-bottom: 5px;
	border-bottom: 2px solid #3EBA2B;
}
.error{
	text-align:center;
}
.follow-main dt{
	text-align:center;
	padding: 3px;
}
.following{
	width: 440px;
	border: 2px solid #3EBA2B;
	float:left;
	margin-left:171px;
	margin-top: 20px;
}
.followingList{
	padding:10px;
}
.follower{
	width: 440px;
	height:auto;
	border: 2px solid #3EBA2B;
	float:left;
	margin-left:20px;
	margin-top: 20px;
}
.followerList{
	padding:10px;
}
